body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 237, 237);
}
h1{
    text-align: center;
    background-color: rgb(209, 244, 209);
    padding-top: 25px;
    padding-bottom: 25px;
    
}
nav ul{
    list-style: none;
    padding:0;
    margin: 0;
    text-align: center;
    
}
nav li{
    display: inline-block;
    margin-top: 5px;
}
nav a{
    text-decoration: none;
    color:rgb(94, 185, 94);
    width: 100%;
    display: block;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.product img{
    width: 200px;
    height: auto;
   background-color: white;
   padding-top: 10px;
   padding-left: 40px;
   padding-right: auto;
}
.product-list{
    max-width: 1000px;
    width: 100%;
    display: grid;
    gap: 90px;
    margin: 0 auto;
    grid-template-columns: repeat(3,280px);
}
.product-list .product{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    text-align: center;
    height: 85vh;
    border-radius: 7px;
    
}
.price{
    color: rgb(94, 185, 94);;
}
footer{
    text-align: center;
    color: white;
    background-color: rgb(9, 70, 9);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:200px;
}

